name: coverage

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name:                       coverage
    runs-on:                    ubuntu-latest

    steps:
      - name:                   Checkout repository
        uses:                   actions/checkout@v2

      - name:                   Generate code coverage
        run: |
          git submodule update --init --recursive
          cargo install cargo-tarpaulin
          cargo tarpaulin --verbose --workspace --timeout 300 --out Xml
      - name:                   Upload to codecov.io
        uses:                   codecov/codecov-action@v1
        with:
          token:                ${{secrets.CODECOV_TOKEN}} 
          fail_ci_if_error:     true