name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:

  fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: Run fmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true

    - name: cache-build-artifacts
      uses: actions/cache@v2
      with:
        path: target
        key: cargo-bpf-${{ hashFiles('Cargo.lock') }}
        restore-keys: |
          cargo-bpf-${{ hashFiles('Cargo.lock') }}
          cargo-bpf

    - name: Solana contract test
      run: |
        cd program
        sh -c "$(curl -sSfL https://release.solana.com/v1.6.7/install)"
        export PATH="/home/runner/.local/share/solana/install/active_release/bin:$PATH"
        cargo test-bpf

  clippy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true

    - name: cache-build-artifacts
      uses: actions/cache@v2
      with:
        path: target
        key: cargo-clippy-${{ hashFiles('Cargo.lock') }}
        restore-keys: |
          cargo-clippy-${{ hashFiles('Cargo.lock') }}
          cargo-clippy

    - name: install-clippy
      run: rustup component add clippy

    - name: run-clippy
      run: |
        sudo apt-get install -y libudev-dev
        cargo clippy -- -W clippy::pedantic
